name: Release Drafter

on:
  push:
    branches: ["main"]

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - id: version
        run: |
          version=$(date --utc '+%Y.%-m.%-d.%-H%M%S')
          echo "KNX_FRONTEND_VERSION=$version" >> $GITHUB_OUTPUT

      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ steps.version.outputs.KNX_FRONTEND_VERSION }}
          name: ${{ steps.version.outputs.KNX_FRONTEND_VERSION }}
